$purple: rgb(89, 93, 255);
$purple-90: rgba(89, 93, 255, 0.9);
$purple-70: rgba(89, 93, 255, 0.7);
$black: #0d1121;
$white: #fff;
$orange: #ff6a3e;

$purple-gradient: radial-gradient(circle farthest-corner at 50% 50%,rgba(62,56,127,.45),transparent);